.white-i {
    color: #343a40;
    position: relative;
    top: -62.5px;
    text-align: center;
    font-size: 40px;
    border: 15px solid white;
    background-color: white;
}

.card {
    img:hover {
        opacity: 0.7;
        transition: 0.5s;
    }
}