@import "carousel";
@import "about";
@import "team";
@import "gallery";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    padding-top: 50px; //give space for carousel images after navbar
    font-family: 'Raleway', sans-serif !important;
}

.link-light {
    text-decoration: none;
    &:hover {
        opacity: 0.7;
        transition: 0.4s;
    }
}